:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #ffc2e6;
  --corners: #353430;
  --rec-color: transparent;
  --screensaver-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --title-color: #353430;
  --subtitle-color: #353430;
  --text-color: #353430;
  --button-color: #353430;
  --button-hover: rgb(53, 52, 48, 0.4);
  --vibrant-textshadow: #ff0070;
  --topic-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #ffc2e6;
    --corners: #353430;
    --rec-color: transparent;
    --screensaver-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --title-color: #353430;
    --subtitle-color: #353430;
    --text-color: #353430;
    --button-color: #353430;
    --button-hover: #32312d;
    --vibrant-textshadow: #ff0070;
    --topic-color: #353430;
  }
}
