:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --corners: #ff0070;
  --rec-color: #ff0070;
  --screensaver-color: #db00ff;
  --accent-color: #ff0070;
  --title-color: #000028;
  --subtitle-color: #ff0070;
  --text-color: #f1b2ce;
  --button-color: #ff0070;
  --button-hover: #ff007066;
  --general-padding: 10px;
  --h2-color: #ff0070;
}

@media (min-width: 768px) {
  :root {
    --general-padding: 20px;
  }
}
